asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django
django-admin-honeypot-updated-2021
django-allauth
django-ipware
django-storages
gunicorn
idna
jmespath
packaging
pillow
psycopg
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-dotenv
python-ipware
requests
s3transfer
six
sqlparse
typing_extensions
urllib3
whitenoise
